input,
select {
  height: 30px;
  width: 180px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px 10px;
}

button {
  padding: 5px 25px;
  font-size: 18px;
}

div {
  margin: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

#calculatedPrice {
  font-size: 20px;
  font-weight: bold;
}

.price {
  font-size: 22px;
}
